<h4>Categories: </h4>
<hr />

{{#each categories}}
    <a style="text-decoration: none;" href="/categories/{{slug}}">
        <h2 class="badge bg-secondary">{{name}}</h2>
    </a>

    {{else}}

{{/each}}
